.App {
  text-align: center;
  color: white;
}

.nav__links-li {
  display: inline;
  padding: 50px;
}

.anchor {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

body {
  background-color: #242424;
  height: 200vh;
}

.header__content {
  display: flex;
  height: 350px;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  padding: 150px;
  box-shadow: 0px 4px 7px rgb(29, 28, 28);
  background-size: cover;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(./images/leaf.jpg);
}

.header__p {
  font-size: 25px;
}

#home__link {
  text-decoration: none;
}

.about__content {
  background-color: #1f1e1e;
  padding: 50px;
  margin: 50px;
  text-align: left;
}

.profile__image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.4s ease-out;
  list-style-type: none;
  text-align: center;
  background: linear-gradient(to top, transparent 0%, black 150%);
  margin-top: 0;
 
}

a {
  color: aqua;
  text-decoration: none;
}


.container {
  position: relative;
  width: 350px;
  height: 300px;
  float: left;
  margin-top: 14px;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 28px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8);
  border-radius: 20px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #242424;
  color: white;
  font-size: 16px;
  /* padding: 16px 32px; */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.8);
}

.skill__content {
  margin-top: 750px;
}