.App {
  text-align: center;
  color: white;
}

/* .nav__links {
  list-style-type: none;
  text-align: center;
  background-color: #283149;
  padding: 20px;
  margin-top: 0;
} */

.nav__links-li {
  display: inline;
  padding: 50px;
}

a {
  color: white;
}

body {
  background-color: #404B69;
  height: 200vh;
}

.header__content {
  /* background-color: #283149; */
  padding: 150px;
  background-image: url('https://images.unsplash.com/photo-1484387436194-cf7cb70800ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  box-shadow: 0px 4px 7px rgb(29, 28, 28);
}

#home__link {
  text-decoration: none;
  
}

.about__content {
  background-color: #283149;
  padding: 50px;
  margin: 50px;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background-color: #EEE;
  box-sizing: border-box;
  transition: background-color 0.4s ease-out;
  list-style-type: none;
  text-align: center;
  /* background-color: #283149; */
  background: linear-gradient(to top, transparent 0%, black 150%);
  margin-top: 0;
}


